.about-section {

  padding: 4rem 1rem;
  margin: 1rem;
}

.about-content {
  /* max-width: 720px; */
  margin: 1rem auto;
  text-align: center;
  line-height: 1.7;
}

.section-title {
  color: var(--green-primary);
  font-weight: 600;
}

